##### CAMADA GOLD #####

In [12]:
#pip install duckdb

In [13]:
import duckdb

In [14]:
con = duckdb.connect(database='dados_duckdb.db', read_only=False)

In [15]:
df = con.execute("select * from produtos").fetch_df()
df.head()

      id      nome categoria  fornecedor   preco
0  10001  PARAFUSO      BT10         100   100.0
1  10002  MARTELOS      BT50         100  1500.0
2  10003     PREGO      BT10         100    60.0
3  10004     SERRA      BT50         100   200.0
4  10005   MACHADO      BT10         100    60.0

In [16]:
df2 = df.drop(columns=['categoria', 'fornecedor'])
df2.head()

      id      nome   preco
0  10001  PARAFUSO   100.0
1  10002  MARTELOS  1500.0
2  10003     PREGO    60.0
3  10004     SERRA   200.0
4  10005   MACHADO    60.0

In [20]:
con.execute("drop table dim_produtos")

In [21]:
con.execute("""
create table if not exists dim_produtos (
            id BIGINT,
            nome TEXT,
            preco FLOAT
            )
""")

In [27]:
con.execute("insert into dim_produtos select * from df2 order by id")

In [28]:
df_dim = con.execute("select * from dim_produtos").fetch_df()
df_dim.head()

      id      nome   preco
0  10001  PARAFUSO   100.0
1  10002  MARTELOS  1500.0
2  10003     PREGO    60.0
3  10004     SERRA   200.0
4  10005   MACHADO    60.0